@charset "utf-8";
@keyframes move {
    0% {
        transform: scale(1);
    }
    33.33333% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}


body {
    background: url('../img.png') no-repeat center;
    background-color: #f0f;
}

.box {
    width: 100px;
    height: 100px;
    animation: move 2s linear infinite;
    background-color: #f0f;
}