<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>todos</h1>
    <div class="main">
        <div class="todos">
            <div class="new">
                <input type="text" autofocus placeholder="what needs to be done?">
            </div>
            <ul class="list">
                <li>
                    <span class="icon iconfont">&#xe6a2;</span>
                    <span class="txt">写代码</span>
                    <span class="icon iconfont">&#xe641;</span>
                </li>
                <li class="finish">
                    <span class="icon iconfont">&#xe6a2;</span>
                    <span class="txt">写代码</span>
                    <span class="icon iconfont">&#xe641;</span>
                </li>
                <li>
                    <span class="icon iconfont">&#xe6a2;</span>
                    <span class="txt">写代码</span>
                    <span class="icon iconfont">&#xe641;</span>
                </li>
            </ul>
            <div class="data">
                <span class="sum">合计:100</span>
                <span class="fsum">已完成：10</span>
            </div>
        </div>
    </div>
    <footer>
        持之以恒，贵在坚持，路遥知马力，滴水穿石
        <br> 熙熙攘攘，纷纷扰扰
    </footer>
</body>

</html>