/*! 彩蛋哈哈哈 */
@charset "utf-8";
@-webkit-keyframes move {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    33.33333% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    60% {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes move {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    33.33333% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    60% {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


body {
    background: url(./static/images/b0192e9fc0703b09fbab5610805e698b.png) no-repeat center;
    background-color: #f0f;
}

.box {
    width: 100px;
    height: 100px;
    -webkit-animation: move 2s linear infinite;
            animation: move 2s linear infinite;
    background-color: #f0f;
}
